<span class="red">Hi there!</span>

<p>
  I'm a graduate student and research assistant at the University of Alberta, Department of Computer Science. Formerly, I was a full-time software engineer at Fanap Co., where I worked with the titles of Technical Lead in Sakku Cloud Platform and Pod Space Cloud Storage. I started coding in middle school and, after a while, switched to Java in 2012. In my graduate studies, I worked with Prof. Rafiei on the Open Entity Resolution topic using transformer-based language models. During this time, I practiced a lot with Data mining and Machine learning techniques. I will graduate in December, 2022.
</p>

<p>
  <i>Note:</i> Please choose a proper subject for your eamils. For non-critical
  requests, please be patient, replies can take quite some time. Apologies in advance.
</p>
