<span class="red">Hi there!</span>

<p>

  This is Sara, Machine Learning Developer/ Market Fundamentals and Data Analyst at Alberta Electric Systems Operation <a href="https://www.aeso.ca">(AESO)</a>, and a proud alumni of the University of Calgary.
  Proficient in designing, training, and deploying machine learning models, including neural networks and deep learning architectures, for diverse applications such as object detection, natural language processing (NLP), and resource/Energy usage forecasting. Adept at creating efficient data processing pipelines for complex datasets, including 3D point cloud data, and extracting meaningful features for machine learning tasks. Hands-on experience in developing end-to-end ML pipelines, from data preprocessing to model deployment, utilizing Azure and Docker for scalability and efficiency.
</p>

<p>
  <i>Note:</i> Please choose a proper subject for your eamils. For non-critical
  requests, please be patient, replies can take quite some time. Apologies in advance.
</p>
