<span class="red">Hi there!</span>

<p>

  Hey there! I'm Matt, a proud alumnus of the University of Alberta and a coding wizard who's now slaying the tech game at Aimsio. I have a true passion for all things tech and I live for coding. Pushing the limits of my abilities and knowledge every day, I bring a unique and creative touch to every project I work on. So if you're ready for some tech magic, follow my blog for all the latest updates on my coding adventures and journey.

</p>

<p>
  <i>Note:</i> Please choose a proper subject for your eamils. For non-critical
  requests, please be patient, replies can take quite some time. Apologies in advance.
</p>
