<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="circular heather"></div>
      </div>
      <div class="column">
        <span id="contact" class="list-head">Where to find me?</span>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-university"></i>
            University of Calgary
            <br>Department of Electrical and Software Engineering
          </li>
          <li><i class="fa-li fa fa-envelope"></i>
            <a href="mailto:sarah.gln.97@gmail.com">sarah.gln.97@gmail.com</a>
          </li>
          <li><i class="fa-li fab fa-skype"></i>
            @sarah.gln.97
          </li>
          <br>
        </ul>
      </div>
      <div class="column">
        <span class="list-head">Socials</span>
        <ul class="fa-ul">
          <li><i class="fa-li fab fa-github"></i><a href="https://github.com/saraNgolestani">@saraNgolestani</a></li>
          <li><i class="fa-li fab fa-linkedin"></i><a href="https://www.linkedin.com/in/s-golestani/">in/s-golestani</a></li>
        </ul>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="content has-text-centered">
      <p>&nbsp;</p>
      <p>
        Copyright © 2023-<span class="current-year"></span> Sara Naseri Golestani | page's theme is forked from <a href="https://github.com/heathermiller/wwwheathermiller">Heather Miller</a>
      </p>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/resources/js/vendor/retina.js"></script>
</body>

</html>
