<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="slogan">
          I'm a <span class="highlight-anim"><span class="highlight__inner-anim">Master's student and Teacher Assitant</span></span> at <a href="https://www.ualberta.ca">the University of Alberta</a>,
          <br>in the <a href="https://www.ualberta.ca/computing-science">Department of Computer Science</a>, and also founder of <a href="http://sakku.cloud/En">SAKKU Cloud Platform</a>.
        </div>
        <div class="news">
          <b class="slogan">Formerly...</b>
          <br>I was a full-time software engineer at <a href="http://fanap.ir">Fanap Co.</a>, where I worked with the titles of Technical Lead in Sakku Cloud Platform and PodSpace Cloud Storage and also, Product Owner of SAKKU.
        </div>
      </div>
</section>

<svg height="0" width="0">
  <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
    <stop offset="0%" style="stop-color:#e052a0;stop-opacity:1" />
    <stop offset="100%" style="stop-color:#f15d40;stop-opacity:1" />
  </linearGradient>
</svg>

<div class="lighter-blue-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="research" class="at-a-glance-header">
            <i class="fas fa-flask"></i>
            Research
          </div>
        </div>
        <div class="column content research">
          <p>
            I'm interested in various flavors of distributed and concurrent
            computation:
          </p>
          <ul>
            <li>Data Mining,</li>
            <li>Machine Learning,</li>
            <li>Software Engineering</li>
          </ul>
          <p>
            My principal research interests are in the area of <b class="white"><i>Data Mining</i></b>,  <b class="white"><i>Machine Learning</i></b>, and <b class="white"><i>Software Engineering</i></b>. 
            While a wide range of operations could be done in each one of these fields, as a bachelor student, 
            I did not have enough time to get highly deep into each of them. So, I tried some disciplines.
          </p>

          <p>
            Data mining is the first field on my list. Working with Dr. Behshid Behkamal on geospatial data, 
            National Post's data and passing the Data Mining course interested me in this field. 
            I worked on geo-location data for almost two years as a member of WTLab with Dr. Pourmasoumi and Dr. Behkamal. 
            During this time, I worked as a part of the team working on an industrial project 
            for the National Post company. This project proposed to predict the parcel delivery time based on 
            the current system and find the bottlenecks in the current system with process mining and Machine Learning techniques. 
            Currently, I'm working as a Research assistant On Knowledge Grapgs and NED/NEL under the supervision of Dr. Davood Rafiei.
          </p>

          <p>
            Being a Software Engineering trainee in one of the top universities of Iran encouraged me to practice 
            in different sections of Software Engineering. I have done some studies in Cloud Computing inclouding 
            Workflow Scheduling and Resource Allocation with Meta-Heuristic methods at the Cloud Computing Lab 
            under the Supv of Dr. Abrishami. Besides, as a professional technical lead and software engineer 
            in Fanap Co., I am working on a cloud platform and cloud storage which made me investigate distributed systems. 
            Additionally, I have been a teacher assistant in the software engineering lab for more than a year researching 
            open-source software and games' architecture and design under the Supv of Dr. Rasoolzadegan.

          </p>

        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div class="at-a-glance-header">
          <i class="fas fa-file-alt"></i>
          Publications
        </div>
      </div>
      <div class="column">
        <div class="publication-head">Recent Work</div>
        <table class="table publications">
          <tbody>
            {% for pub in site.data.publications.refereed.pubs limit:3 %}
              <tr>
                <td>
                  <div class="pub-title">{{ pub.title }}</div>
                  <div class="pub-authors">{{ pub.authors }}</div>
                  <div class="pub-conf-journal-name">{% if pub.conference-full %}{{ pub.conference-full }}{% elsif pub.journal %}{{ pub.journal }}{% endif %}</div>
                  <div class="pub-meta">
                    {% if pub.pdf %}<a href="{{ pub.pdf }}"><span class="tag pub-tag">PDF</span></a>{% endif %}
                    {% if pub.acmdl %}<a href="{{ pub.acmdl }}"><span class="tag pub-tag">ACM DL</span></a>{% endif %}
                    {% if pub.cambridge %}<a href="{{ pub.cambridge }}"><span class="tag pub-tag">Cambridge U. Press</span></a>{% endif %}
                    {% if pub.scidirect %}<a href="{{ pub.scidirect }}"><span class="tag pub-tag">Science Direct</span></a>{% endif %}
                  </div>
                </td>
                <td nowrap><div class="pub-conf-abbrv">{{ pub.abbrv }} {{ pub.year }}</div></td>
              </tr>
              {{ item }}
            {% endfor %}
          </tbody>
        </table>
        <a class="button publication-button" href="{{ site.baseurl }}/publications.html">Full Publication List</a>
      </div>
      <div class="column">
        <div class="publication-head">SAKKU Blog Posts</div>
        <img style="height: 200px;" src="/resources/img/sakku-blog.jpg">
        <div class="book-authors">I gather and share some new information and news in the scope of Cloud Computing in Sakku blog for persian readers!</div>
        <div class="book-title">Cloud Gaming: What do we know about GeForce Now?</div>
        <div class="book-text">GeForce NOW is NVIDIA’s cloud-based game streaming service, delivering real-time gameplay straight from the cloud to your laptop, desktop, Mac, SHIELD TV, or Android device. Connect to your store accounts and stream your own library of games, or play your favorite free-to-play games. With cloud saves for supported games, you can pick up your game where you left off, on any supported device, wherever you are.</div>
        <div class="book-oa"><a href="https://blog.sakku.cloud"><i class="fas fa-glasses"></i>&nbsp;&nbsp;Read more...</a></div>
      </div>
    </div>
  </div>
</section>


<div class="lighter-blue-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth"></div>
        <!-- <i class="em em-family"></i>  -->
        <div class="column">
          <div class="at-a-glance-header">
            <i class="fas fa-code"></i>
            Open Source
          </div>
          <div class="columns">
            <div class="column is-one-fifth">
              <!-- <img style="height: 60px; width: 60px" src="/resources/img/weird-scala3.png"> -->
              <div id="scala"></div>
            </div>
            <div class="column content work">
              <p>
                Most all of my work is available in my  <a href="https://github.com/makbn">Github repositories</a>.
              </a>
              <p>Love to learn Scala.</p>
              <!-- <p>I've worked on: Futures and Promises, Spores, Pickling, the Scala standard library, documentation, and a compiler fix here or there.</p> -->
            </div>
          </div>
          <div class="columns">
            <div class="column content work">
              <p>I tend to write <a href="https://github.com/makbn/remote_working_open_manifesto">A remote working manifesto</a>.</p>
              <p>
                Goal: An open manifesto for implementing remote working strategy in any organization at any scale.
            </div>
            <div class="column is-one-fifth">
              <div id="scalacenter"></div>
              <!-- <img style="height: 60px;" src="/resources/img/scalacenter-spiral.png"> -->
            </div>
          </div>
        </div>
        <div class="column">
          <!-- <i class="em em-factory"></i>  -->
          <div class="at-a-glance-header">
            <i class="fas fa-industry-alt"></i>
            Academia ↔ Industry
          </div>
          <div class="columns">
            <div class="column content work">
                <p>I created the <a href="https://sakku.cloud/En">SAKKU Cloud Platform</a> with an incredible team in Fanap Co.</p>
                <p>Our goal: Save Your Time and Costs of Your Server. Focus on your goal, deploy and develop without worries.</p>
                <p>Sakku is a container based cloud platform. You can create containers from your apps and deploy them on Sakku. After that, Sakku will handle all of your application requirements. error control, monitoring, back up and resource management are the most important features of Sakku.</p>
            </div>
            <div class="column is-one-third">
              <img style="height: 100px; opacity: 0.4;" src="/resources/img/sakku.png">
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div id="skills" class="at-a-glance-header">
          <i class="fas fa-battery-three-quarters"></i>
            Skills
        </div>
      </div>
      <div class="column">
        <span class="subsec-head">Programming languages</span>
        <table class="table service-table">
          <tbody>
            <tr>
              <th>Java
                <div class="abbrv">I am highly experianced in Java language and uding it for more than 8 years.</div>
              </th>
              <td nowrap><a href="https://github.com/makbn?tab=repositories&q=&type=&language=java">Since 2012</a></td>
            </tr>
            <tr>
              <th>
                C++
                <div class="abbrv">Although I used to code with cpp before Java, I got my certification from Coursera recently to refresh my knowledg.</div>
              </th>
              <td nowrap><a href="https://github.com/makbn?tab=repositories&q=&type=&language=c%2B%2B">2009-2012, 2020</a></td>
            </tr>
            <tr>
              <th>Python
                <div class="abbrv">Mostly I use Python when I'm sick and tired of using semicolon! And yes it also useful for some data analysis stuff!</div>
              </th>
              <td nowrap><a href="https://github.com/makbn?tab=repositories&q=&type=&language=python">Public projects</a></td>
            </tr>
            <tr>
              <th>
                Scala
                <div class="abbrv">If you like Scala, we have a lot to talk about!</div>
              </th>
              <td nowrap><a href="https://2016.ecoop.org/track/PMLDC-2016">Since 2017</a></td>
            </tr>
          </tbody>
        </table>
        <span class="subsec-head">Frameworks & Tools</span>
        <table class="table service-table">
          <tbody>
            <tr>
              <th>
                Apache Mesos
                <div class="abbrv">I Use Apache Mesos as the heart of SAKKU</div>
              </th>
              <td nowrap><a href="https://github.com/sakkuCloud">Since 2019</a></td>
            </tr>
            <tr>
              <th>
                Marathon
                <div class="abbrv">A simple nice extendable task  scheduler!</div>
              </th>
              <td nowrap><a href="https://mesosphere.github.io/marathon/">Project page</a></td>
            </tr>

            <tr>
              <th>
                Docker
                <div class="abbrv">It's my daily hobby! More than 50% of my laptop's battery is consumed by it on each cycle!</div>
              </th>
              <td nowrap><a href="https://mesosphere.github.io/marathon/">The Story of Docker</a></td>
            </tr>
          </tbody>
        </table>
    
      </div>
      <div class="column">
        <span class="subsec-head">Program Committee Member</span>
        <table class="table service-table">
          <tbody>
            <tr>
              <th>
                POPL
                <div class="abbrv">Symposium on Principles of Programming Languages</div>
              </th>
              <td nowrap><a href="https://popl19.sigplan.org/">2019</a></td>
            </tr>
            <tr>
              <th>
                ICFP
                <div class="abbrv">International Conference on Functional Programming</div>
              </th>
              <td nowrap><a href="https://conf.researchr.org/home/icfp-2018">2018</a></td>
            </tr>         
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<div class="lighter-blue-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="background" class="at-a-glance-header">
            <i class="fas fa-graduation-cap"></i>
            Background
          </div>
        </div>
        <div class="column">
          <div class="teaching-head">University of Alberta</div>
          <div class="abbrv">Sep. 2020 - Present | M.Sc. in Computer Science</div>
          <table class="table teaching">
            <tbody>
              <tr>
                <th nowrap><a>CMPUT 566</a></th>
                <td>Topics in Machine Learning</td>
                <td nowrap>Winter 2021</td>
              </tr>
              <tr>
                <th nowrap><a>CMPUT 605</a></th>
                <td>Topics in Computer Science:<br>Knowledge Graphs and Named Entity Disambiguation</td>
                <td nowrap>Spring 2020</td>
              </tr>
            </tbody>
          </table>
          <div class="teaching-head">Ferdowsi University of Mashhad</div>
          <div class="abbrv">Sep. 2014 - Sep. 2019 | B.Sc. in Computer Science</div>
          <table class="table teaching">
            <tbody>
              <tr>
                <th nowrap><a>CMPUT FUM</a></th>
                <td>Foundations of Data Mining</td>
                <td nowrap>Fall 2017</td>
              </tr>
              <tr>
                <th nowrap><a>CMPUT FUM</a></th>
                <td>Cloud Computing</td>
                <td nowrap>Fall 2017</td>
              </tr>
              <tr>
                <th nowrap><a>CMPUT FUM</a></th>
                <td>Computer Vision</td>
                <td nowrap>Fall 2017</td>
              </tr>
              <tr>
                <th nowrap><a>CMPUT FUM</a></th>
                <td>Thesis: Workflow scheduling with ACO</td>
                <td nowrap>Fall 2018</td>
              </tr>
            </tbody>
          </table>
          <div class="teaching-head">NODET High school</div>
          <div class="abbrv">Sep. 2010 - Sep. 2014 | Mathematics</div>
          <table class="table teaching">
            <tbody>
              
            </tbody>
          </table>
        </div>
        <div class="column">
          <!-- <img src="resources/img/coursera.svg"> -->
          <!-- <div class="mooc-label">MOOC</div> -->
          <div class="tag mooc-label">Teaching Assistants</div>
          <div class="teaching-head">University of Alberta</div>
          <table class="table teaching">
            <tr>
              <th nowrap><a>CMPUT 291</a></th>
              <td>Introduction to File and Database Management</td>
              <td nowrap>Fall 2022</td>
            </tr>
            <tr>
              <th nowrap><a>CMPUT 361</a></th>
              <td>Intro to Information Retrieval</td>
              <td nowrap>Winter 2021</td>
            </tr>
          </table>
          <div class="teaching-head">Ferdowsi University of Mashhad</div>
          <table class="table teaching">
            <tr>
              <th nowrap><a>CC Lab</a></th>
              <td>Fundamentals of Cloud Computing</td>
              <td nowrap>2018-2019</td>
            </tr>
            <tr>
              <th nowarp><a>SQ Lab</a></th>
              <td>Software Engineering</td>
              <d nowarp>2017-2018</d>
            </tr>
          </table>
          
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="columns collaborators">
      <div class="column is-one-fifth large-white">I'm beyond fortunate to work with many folks at Fanap and WeClick who are far more talented than I</div>
      <div class="column">
        <span class="list-head">Fanap Co.</span>
        <div class="abbrv">Aug. 2018 – Present | Cloud Engineer & Technical Leader</div>
        <br><a href="https://sakku.cloud/En">SAKKU Cloud Platform</a>, <span class="job">is a container based cloud platform! As a founder and technical leader in Sakku, my duty is to coordinate the develop team and design the road map and the software architecture of the project. In sakku platform we try to schedule application and tasks inside cluster based on their usage prediction with clustering tasks based on their resource usage history and usage prediction.</span>
        <br><a href="https://podium.ir/">PODSpace</a>, <span class="job">Podium is a platform that provides vast kind of SaaS. My duty was to develop a file sharing system that allow users to share their files with other users or generate public link and a module for cloning users’ files in backup servers in Space service, which is a public cloud storage.</span>
        <br><a href="https://github.com/makbn/JThumbnail">JThumbnail</a>, <span class="job">is a Java library for creating Thumbnails of common types of file! I developed this project for using in different services of Podium like PODSpace or Talk.</span>
      </div>
      <div class="column">
        <span class="list-head">WeClick advertising network</span>
        <div class="abbrv">Feb. 2015 – Aug. 2018 | Software Engineer</div>
        <br><a href="https://github.com/tapleader/tapleader-sdk-android">Tapleader SDK</a>, <span class="job">is a powerful in-app analytic platform. This project also used the collected data of client to extract knowledge about application’s crash summery in different environments.</span>
        <br><a href="https://github.com/SignalGo">SignalGo</a>, <span class="job">is a framework that makes it simple to distributed computing to mobile client applications. My task was to design the architecture of the framework and implementing Java client.</span>
      </div>
    </div>
  </div>
</section>
