<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="slogan">
          Hello!
          <br>This is Sara, Machine Learning Developer/ Forecast Analyst at Alberta Electric Systems Operation <a href="https://www.aeso.ca">(AESO)</a>, and a proud alumni of the University of Calgary.
          <br>Proficient in designing, training, and deploying machine learning models, including neural networks and deep learning architectures, for diverse applications such as object detection, natural language processing (NLP), and resource/Energy usage forecasting. Adept at creating efficient data processing pipelines for complex datasets, including 3D point cloud data, and extracting meaningful features for machine learning tasks. Hands-on experience in developing end-to-end ML pipelines, from data preprocessing to model deployment, utilizing Azure and Docker for scalability and efficiency.
        </div>
        <div class="news">
          <b class="slogan">Formerly...</b>
          <br>I graduated from the University of Calgary with a Master's degree of Electrical and Software Engineering in May 2023, meanwhile I took an Internship at <a href="https://altaml.com">AltaML</a> to practice my skills in an industrial level as a Machine Learning Developer and I was able to show my skilss in many aspects. Befor that, I was a full-time AI Specialist at <a href="http://fanap.ir">Fanap Co.</a>, where I worked on the prediction of resources on a cloud platform. 
        </div>
      </div>
</section>

<svg height="0" width="0">
  <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
    <stop offset="0%" style="stop-color:#52e09b;stop-opacity:1" />
    <stop offset="100%" style="stop-color:#40f175;stop-opacity:1" />
  </linearGradient>
</svg>


<!--Work-->
<div class="lighter-blue-bg-bar">  
  <section class="section">
    <div class="container">
      <div class="columns collaborators">
        <div class="column is-one-fifth large-white">
          <span class="at-a-glance-header"><span class="fas fa-users"></span></span> I'm beyond fortunate to work with many folks at AESO, AltaML and Fanap, where I had the opportunity to learn and grow.</div>

          <div class="column" id="pro_experience">
            <span class="list-head">AESO</span>
            <div class="abbrv">Nov. 2023 – Ma. 2023 | Machine Learning Developer - Forecast Analyst</div>
            <br><a href="https://altaml.com">ALtaML</a>,<span class="job"> Is an AI company that brings Ideation to Evolution, and Accelerates Your AI Journey. As an Associate ML developer I Collaborate with cross-functional teams to develop and implement machine learning models and pipelines. Conduct research and stay up to date with the latest advancements in machine learning and natural language processing. Provide technical support and guidance to team members for machine learning projects. Engineered a highly efficient Data Processing pipeline for analyzing and extracting features from 3D point cloud data, enhancing the performance of machine learning models. Participated in the development of comprehensive unit tests for an ML-Ops Boot Camp, ensuring the reliability and scalability of machine learning workflows through GitHub actions.
              <ul>
                <li>Playing one of the primary development role in forecasting team in developing and implementing an in-house application to forecast Albertans electric consumption.</li>
                <li>Developing, Managing and Integrating big data pipelines. Maintaining Oracle Database Schemas and tables.</li>
                <li>Analyzing and enhancing the key parameters dynamically. Adding my electrical field knowledge to the development of the model and analyzing predictions.</li>
              </ul>
          </div>

          <div class="column" id="pro_experience">
            <span class="list-head">AltaML</span>
            <div class="abbrv">Jan. 2023 – Ma. 2023 | Machine Learning Developer - Intern</div>
            <br><a href="https://altaml.com">ALtaML</a>,<span class="job"> Is an AI company that brings Ideation to Evolution, and Accelerates Your AI Journey. As an Associate ML developer I Collaborate with cross-functional teams to develop and implement machine learning models and pipelines. Conduct research and stay up to date with the latest advancements in machine learning and natural language processing. Provide technical support and guidance to team members for machine learning projects. Engineered a highly efficient Data Processing pipeline for analyzing and extracting features from 3D point cloud data, enhancing the performance of machine learning models. Participated in the development of comprehensive unit tests for an ML-Ops Boot Camp, ensuring the reliability and scalability of machine learning workflows through GitHub actions.
              <ul>
                <li>Played primary development role in data science team in developing and implementing machine learning pipeline object detection on 3D point cloud data, resulting in a 20% increase in accuracy.</li>
                <li>Spearheaded the development of a Heart Disease Detection Project, where I ranked first among a cohort of 40 in completing a rigorous technical ML Boot Camp. Successfully implemented GitHub actions for an ML Bootcamp project, reducing the reviewing time by more than 50%.</li>
                <li>Utilized Azure to create automated model training and deployment workflows, achieving a remarkable 50% reduction in time required for model deployment.</li>
                <li>Developed novel algorithm for sentiment analysis, achieving sentiment prediction accuracy of 90%.</li>
                <li>Collaborated on analysis and presentation of findings for clients in 3D point cloud data project, contributing to the scientific community's understanding of the subject.</li>

              </ul>
          </div>

        <div class="column" id="pro_experience">
          <span class="list-head">Fanap Co.</span>
          <div class="abbrv">Sep. 2019 – Oct. 2020 | Artificial Intelligence Specialist</div>
          <br><a href="https://sakku.cloud/En">SAKKU Cloud Platform</a>, <span class="job">is a Docker container-based cloud platform! There, I Researched and implemented machine learning algorithms to accurately forecast resource usage for the SAKKU Platform.  Developed Restful-API modules to efficiently collect required data for machine learning development. Designed and implemented file search feature to improve user navigation and productivity. Collaborated with cross-functional teams to ensure seamless integration of ML algorithms and Restful-API modules. Conducted regular testing and debugging to maintain the functionality and efficiency of the ML algorithms and Restful-API modules. Provided technical support and guidance to team members, facilitating smooth workflow and timely completion of projects.
            <ul>
              <li>Successfully implemented machine learning algorithms that significantly improved the accuracy of resource usage forecasting for the SAKKU Platform.</li>
              <li>Streamlined data collection process by developing efficient Restful-API modules, resulting in enhanced productivity and reduced time constraints.</li>
              <li>Enhanced user experience by implementing a file search feature, garnering positive feedback from clients and users.</li>
            </ul>
        </div>
        
      </div>
    </div>
  </section>
</div>

<!--Publications-->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div class="at-a-glance-header">
          <i class="fas fa-file-alt" id="publication_section"></i>
          Publications
        </div>
      </div>
      <div class="column">
        <div class="publication-head"></div>
        <table class="table publications">
          <tbody>
            {% for pub in site.data.publications.refereed.pubs limit:3 %}
              <tr>
                <td>
                  <div class="pub-title">{{ pub.title }}</div>
                  <div class="pub-authors">{{ pub.authors }}</div>
                  <div class="pub-conf-journal-name">{% if pub.conference-full %}{{ pub.conference-full }}{% elsif pub.journal %}{{ pub.journal }}{% endif %}</div>
                  <div class="pub-meta">
                    {% if pub.pdf %}<a href="{{ pub.pdf }}"><span class="tag pub-tag">PDF</span></a>{% endif %}
                    {% if pub.acmdl %}<a href="{{ pub.acmdl }}"><span class="tag pub-tag">ACM DL</span></a>{% endif %}
                    {% if pub.cambridge %}<a href="{{ pub.cambridge }}"><span class="tag pub-tag">Cambridge U. Press</span></a>{% endif %}
                    {% if pub.scidirect %}<a href="{{ pub.scidirect }}"><span class="tag pub-tag">Science Direct</span></a>{% endif %}
                  </div>
                </td>
                <td nowrap><div class="pub-conf-abbrv">{{ pub.abbrv }} {{ pub.year }}</div></td>
              </tr>
              {{ item }}
            {% endfor %}
          </tbody>
        </table>
  
      </div>
      
    </div>
  </div>
</section>

<!--Open Source-->
<div class="lighter-blue-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth"></div>
        <!-- <i class="em em-family"></i>  -->
        <div class="column">
          <div class="at-a-glance-header">
            <i class="fas fa-code-branch"></i>
            Open Source
          </div>
          <div class="columns">
            <div class="column is-one-fifth">
              <!-- <img style="height: 60px; width: 60px" src="/resources/img/weird-scala3.png"> -->
              <div id="scala"></div>
            </div>
            <div class="column content work">
              <p>
                Most of my work is available in my  <a href="https://github.com/SaraNGolestani">Github repositories</a>.
                <ul>
                  <li><a href="https://github.com/saraNgolestani/furniture_classifier_api" target="_blank">Furniture Classifier API</a>: An example of how to build a REST API for image classification using PyTorch and Flask. </li>
                  <li><a href="https://github.com/saraNgolestani/TResnet_ml" target="_blank">TResnet_ml</a>: Official Pytorch Implementation of "TResNet: High-Performance GPU-Dedicated Architecture" (WACV 2021). </li>
                  <li><a href="https://github.com/saraNgolestani/trudeau_posts" target="_blank">Trudeau Posts</a>: This application crawls CNN and Twitter to find the most recent posts of J. Trudeau and displays them.</li>
                </ul>
              </a>
              <p> </p>
              <!-- <p>I've worked on: Futures and Promises, Spores, Pickling, the Scala standard library, documentation, and a compiler fix here or there.</p> -->
            </div>
          </div>
          
        </div>
        
        </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--Skills-->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div id="skills" class="at-a-glance-header">
          <i class="fas fa-code"></i>
            Skills
        </div>
      </div>
      <div class="column">
        <span class="subsec-head">Programming languages</span>
        <table class="table service-table">
          <tbody>
            <tr>
              <th>Python
                <div class="abbrv">
                  I am  experianced in coding with python language and been using it for around 5 years.
                </div> 
              </th>
            </tr>
     
            <tr>
              <th>
                SQL
                <div class="abbrv"> I have been Using SQL sine I was working as an AI spacialist, I have enough knoweledge to fetch the data that I need</div>
              </th>
            </tr>
            <tr>
              <th>
                Matlab
                <div class="abbrv"> Before Python, I used to use matlab's NN models for faster results</div>
              </th>
            </tr>
            <tr>
              <th>
                Java
                <div class="abbrv"> developed a file search module on POD at Fanap. </div>
              </th>
            </tr>
          </tbody>
        </table>
        <span class="subsec-head">Frameworks & Tools</span>
        <table class="table service-table">
          <tbody>
            <tr>
              <th>
                Pytorch
                <div class="abbrv">My go to library for building NNs from scratch </div>
              </th>
            </tr>
            <tr>
              <th>
                Tensorflow
                <div class="abbrv">If I have to, I'll work with it!</div>
              </th>
            </tr>
            <tr>
              <th>
                Numpy
                <div class="abbrv">What data structure is better than arrays while working with neurons!</div>
              </th>
            </tr>
            <tr>
              <th>
                Pandas
                <div class="abbrv">With this, there's no need of SQL!</div>
              </th>
            </tr>
            <tr>
              <th>
                Scikit-Learn
                <div class="abbrv">A go to library for less computationally expensive ML models</div>
              </th>
            </tr>
            <tr>
              <th>
                Azure
                <div class="abbrv">A cloud platform that offers all sorts of APIs and pre-trained ML models</div>
              </th>
            </tr>
            <tr>
              <th>
                Flask
                <div class="abbrv">A simple nice API handler</div>
              </th>
            </tr>
            <tr>
              <th>
                Git
                <div class="abbrv">How are we gonna keep track of our codes without it?!</div>
              </th>
            </tr>
            <tr>
              <th>
                Docker
                <div class="abbrv">when it comes to versioning our models, we go to docker^^</div>
              </th>
            </tr>
          </tbody>
        </table>
    
      </div>
      <div class="column">
        <span class="subsec-head">Certificates</span>
        <table class="table service-table">
          <tbody>
            <tr>
              <th>
                Azure AI Fundamentals (AI900), 
                <div class="abbrv">Offered by Microsoft</div>
              </th>
            </tr>
            <tr>
              <th>
                Natural Language Processing
                <div class="abbrv">Passed Through Coursera</div>
              </th>
             
            </tr>      
            <tr>
              <th>
                Python
                <div class="abbrv">LinkedIn Badge</div>
              </th>
            </tr>    
            <tr>
              <th>
                Python
                <div class="abbrv">Offered through Kaggle</div>
              </th>
            </tr>
            <tr>
              <th>
                Machine Learning
                <div class="abbrv">LinkedIn Badge</div>
              </th>
            </tr>         
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!--Background-->
<div class="lighter-blue-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="background" class="at-a-glance-header">
            <i class="fas fa-history"></i>
            Background
          </div>
        </div>
        <div class="column">
          <div class="teaching-head">University of Calgary</div>
          <div class="abbrv">Sep. 2020 - Apr. 2023 | M.Sc. in Electrical and Software Engineering</div>
          <table class="table teaching">
            <tbody>
              <tr>
                <th nowrap><a>ENEL 645</a></th>
                <td>Data Mining and Machine Learning</td>
                <td nowrap>A+</td>
              </tr>
              <tr>
                <th nowrap><a>ENEL 641</a></th>
                <td>Optimization for Engineers</td>
                <td nowrap>A</td>
              </tr>
              <tr>
                <th nowrap><a>ENEL 631</a></th>
                <td>System Identification and Parameter Estimation</td>
                <td nowrap>A</td>
              </tr>
              
            </tbody>
          </table>
          <div class="teaching-head">Ferdowsi University of Mashhad</div>
          <div class="abbrv">Sep. 2014 - Sep. 2019 | B.Sc. in Electrical Engineering</div>
          <table class="table teaching">
            <tbody>
              <tr>
                <th nowrap><a>ENEL FUM</a></th>
                <td>Computational Intelligence</td>
                <td nowrap>A</td>
              </tr>
              <tr>
                <th nowrap><a>ENEL FUM</a></th>
                <td>Micro Processors</td>
                <td nowrap>A+</td>
              </tr>
              <tr>
                <th nowrap><a>ENEL FUM</a></th>
                <td>Computer Architecture</td>
                <td nowrap>A</td>
              </tr>
              <tr>
                <th nowrap><a>ENEL FUM</a></th>
                <td>Thesis: Object tracking in robot hand sensing project using magnetic sensors</td>
                <td nowrap>A+</td>
              </tr>
            </tbody>
          </table>

            <tbody>
              
            </tbody>
          </table>
        </div>
        <div class="column">
          <!-- <img src="resources/img/coursera.svg"> -->
          <!-- <div class="mooc-label">MOOC</div> -->
          <div class="tag mooc-label">Teaching Assistants</div>
          <div class="teaching-head">University of Calgary</div>
          <table class="table teaching">
            <tr>
              <th nowrap><a>ENEL 353</a></th>
              <td>Digital Circuits</td>
              <td nowrap>FAL. 2021 and 2022</td>
            </tr>
            <tr>
              <th nowrap><a>ENEL 327</a></th>
              <td>Signals and Transforms</td>
              <td nowrap>WIN. 2021 and 2022 and 2023</td>
            </tr>
          </table>
          <div class="teaching-head">Ferdowsi University of Mashhad</div>
          <table class="table teaching">
            <tr>
              <th nowrap><a>ENEL FUM</a></th>
              <td>Fundamentals of Electronics</td>
              <td nowrap>2018-2019</td>
            </tr>

          </table>
          
          
        
      </div>
    </div>
  </section>
</div>

<!--RESEARCH-->
<div class="section">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="research" class="at-a-glance-header">
            <i class="fas fa-graduation-cap"></i>
            Research
          </div>
        </div>
        <div class="column content research">
          <p>
            I'm interested in various flavors of Machine Learning
          </p>
          <ul>
            <li>Machine Learning Engineering,</li>
            <li>Computer Visions,</li>
            <li>Machine Learning Development,</li>
            <li>Statistical Modeling,</li>
            <li>Deep Learning,</li>
            <li>Data Science</li>
          </ul>
          <p>
            My principal research interests are in the area of <b class="green_text"> <b class="green_text"><i>Machine Learning Engineering</i></b>,  <b class="green_text"><i>Data Science</i></b>, and <i>Computer Visions</i></b>. 
          </p>

          <p>
            Throughout my Bachelor study I did not have enough time to explore all sides of data, even though I did gain a lot of experience working in Cognitive Computing Lab (CCL) on a Robot Hand Sensing project to track a magnet inside an amputet hands muscles.
            This Tracking was done with the help of Recurrent Neural Networks(RNNs) and I was able to publish my very first paper on it. my main contributions during my bachelors project are:
            <li>ObjectLocalizationinHandinordertoControla Robot Hand Using RNN.</li>
            <li>Noisecancellationinmagnetic-basedlocalizationusingcomplex-valued neural networks.</li>
            <li>Robustmagnet-basedlocalizationsystemtosensordis-placementusingthe Genetic Algorithm (GA).</li>

          </p>

          <p>
            During my Master's, I achieved a lot in the field of computer visions with my role as a Research Assistance. I was able to work on various types of images including and not limited to, IR, RBG, UAV and etc. My main contributions could be pointed out as follows:
            <li>Object detection with the help of Multitask Learning (MTL) to improve the Mask R-CNNs ability to detect small objects with higher precision. </li>
            <li>This method was applied on backbone of the object detection methods to enrich their output feature maps</li>
            <li>The Object detection methods used for this improvement on UAV data were YOLO, Mask R-CNN, and DETR.</li>


          </p>

        </div>
      </div>
    </div>
  </section>
</div>


