<nav id="entireNavbar" class="navbar is-fixed-top">
  <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(1);"></div>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="{{ site.baseurl }}/">
        <img src="/resources/img/gator.svg">&nbsp;<span class="heather">Mehdi</span>&thinsp;<span class="miller"> Akbarian</span>&thinsp;<span class="miller"> Rastaghi</span>
      </a>

      <div id="navbarBurger" class="navbar-burger burger" data-target="navBar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navBar" class="navbar-menu">
      <div class="navbar-start">
        <!--Nothing here right now-->
      </div>

      <div class="navbar-end navbar-text">
        <!-- <a class="navbar-item" href="https://bulma.io/"><span class="topbar-item">Blog</span></a> -->
        <a class="navbar-item" href="{{ site.baseurl }}/publications.html"><span class="topbar-item">Publications</span></a>
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#research"><span class="topbar-item">Research</span></a>
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#skills"><span class="topbar-item">Skills</span></a>
        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#background"><span class="topbar-item">Background</span></a>
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#contact"><span class="topbar-item">Contact</span></a>
        <a class="navbar-item" href="https://scholar.google.com/citations?user=tXqn5GEAAAAJ&hl=en"><span class="topbar-item"><i class="fab fa-google-plus-g"></i></span></a>
        <a class="navbar-item" href="https://github.com/makbn"><span class="topbar-item"><i class="fab fa-github"></i></span></a>
        <a class="navbar-item" href="https://linkedin.com/in/mehdiakbarian"><span class="topbar-item"><i class="fab fa-linkedin"></i></span></a>

        

      </div>
    </div>
  </div>
</nav>
